<div class="container">
    <div class="section-title">
        <h1><%= @trader.content %>の詳細</h1>
    </div>
    <div class="trader-kwsk-item">
        <div class="post-time">
            <%= @trader.created_at %>
        </div>
        <div class="post-menu">
            <%= link_to("編集","/traders/#{@trader.id}/edit") %>
            <%= link_to("削除","/traders/#{@trader.id}/destroy", {method:"post"}) %>
        </div>
        <div class="content-add">
            <%= link_to("アイテムを追加","/items/:id/new") %>
            <div class="content-list">
                
                    <div class="content-item">
                        
                        <ul>
                            <% if @item %>
                            <li>
                                商品名:<%= @item.name %>
                            </li>
                            <li>
                                価格:<%= @item.price %>円
                            </li>
                            <li>
                                原価:<%= @item.cost %>円
                            </li>
                            <li>
                                業者番号:<%= @item.trader_id %>
                            </li>
                            <% end %>
                        </ul>
                            
                    </div>
                
            </div>
        </div>
    </div>
</div>